<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            archiveFileName="${basedir}/logs/${shortdate}.{#####}.log"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target xsi:type="File" name="error2f" fileName="${basedir}/logs/error_${shortdate}.log"
            archiveFileName="${basedir}/logs/error_${shortdate}.{#####}.log"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target xsi:type="File" name="debug2f" fileName="${basedir}/logs/debug_${shortdate}.log"
            archiveFileName="${basedir}/logs/debug_${shortdate}.{#####}.log"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="f" />
    <logger name="*" level="Error" writeTo="error2f" />
    <logger name="*" level="Debug" writeTo="debug2f" />
  </rules>
</nlog>