@model TestPlan

@{
    ViewBag.Title = "Test Plan";
}

<div class="clearfix">
    
    @Html.Partial("_Audit", Model)
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div>
    <h2 class="sub-header">Test Cases</h2>
    @Html.Partial("../TestProjects/_TestCases", Model.Cases.Actives())
</div>