@model TestLab.Domain.TestBuild

<div>
    <h3>Build</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            &nbsp;
        </dd>
    </dl>
    @Html.Partial("_ShowStartInfo", Model)
</div>
