<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net451" />
  <package id="Common.Logging.NLog20" version="2.2.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net451" />
  <package id="NLog" version="3.0.0.0" targetFramework="net451" />
  <package id="NPatterns" version="1.0.5267" targetFramework="net451" />
  <package id="NPatterns.ObjectRelational.EF" version="1.0.5267" targetFramework="net451" />
  <package id="SlowCheetah" version="2.5.10.6" targetFramework="net451" />
</packages>