@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@TestLab.Infrastructure.Constants.AppName</h1>
    <p class="lead">

    </p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Test Projects</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test Plans</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test Sessions</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

@section nav{
    <li>@Html.ActionLink("Projects", "Index", "TestProjects", null, null)</li>
}