@{
    ViewBag.Title = "Dashboard";
}

<p class="lead">
    A smart self-service system for automation testing.
    //TODO: charts
</p>

@*<div class="row">
    <div class="col-md-4">
        
        <p>
            
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
        <p>
            
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>*@
