@model IEnumerable<TestBuild>

@{
    ViewBag.Title = "Test Builds";
}

<h2>Test Builds</h2>

@Html.Grid(Model.OrderByDescending(z=>z.Id)).Columns(c =>
{
    c.Add()
     .Encoded(false)
     .Sanitized(false)
     .SetWidth(30)
     .RenderValueAs(d =>
                        Html.ActionLink("Open", "Show", "TestBuilds", new { id = d.Id, testprojectId = d.Project.Id }, new { @class = "btn btn-default" })
        );

    c.Add(o => o.Id)
     .SortInitialDirection(GridMvc.Sorting.GridSortDirection.Descending);
    
    c.Add(o => o.Name);

    c.Add(o => o.Agent.Name);
      
    c.Add(o => o.Started)
     .SetWidth(110);

    c.Add(o => o.Completed)
     .SetWidth(110);

}).Sortable().Filterable().WithMultipleFilters().WithPaging(20)
