@model IEnumerable<TestLab.Domain.TestCase>

@{
    ViewBag.Title = "TestCases";
}

<h2>TestCases</h2>

@Html.Grid(Model).Columns(c =>
{
    c.Add(o => o.Id);
    
    c.Add(o => o.Name);

    c.Add(o => o.Location);

    c.Add(o => o.Plans.Count);

    c.Add(o => o.Published)
     .SetWidth(110);

}).Sortable().Filterable().WithMultipleFilters().WithPaging(20)

@section scripts{
    @Scripts.Render("~/bundles/gridmvc")
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Project", "Show", "TestProjects", new { id = ViewContext.RouteData.Values["testprojectId"] }, null)</li>
        <li class="active">Cases</li>
    </ol>
}