@model IEnumerable<TestCase>

@{
    ViewBag.Title = "Test Cases";
    TestProject project = ViewBag.Project;
}

<h2>Test Cases</h2>

@Html.Grid(Model.OrderBy(z=>z.Name)).Columns(c =>
{
    c.Add(o => o.Id);
    
    c.Add(o => o.Name)
     .SortInitialDirection(GridMvc.Sorting.GridSortDirection.Ascending);

    c.Add(o => o.Keyword);
    
    c.Add(o => o.Location);

    c.Add(o => o.Plans.Count);

    c.Add(o => o.Published)
     .SetWidth(110);

}).Sortable().Filterable().WithMultipleFilters().WithPaging(20)
