@model TestSession

@{
    ViewBag.Title = "New Test Session";
}

<h2>Create New</h2>
<p>
    @Html.ActionLink("Cancel", "Index", "TestSessions", new { testprojectId = Model.Project.Id }, new { @class = "btn btn-default" })
</p>
@using (Html.BeginForm("Create", "TestSessions", new { testprojectId = Model.Project.Id }))
{
    @Html.Partial("_form", Model)
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
